.about-my{
    padding: 40px 20px;
    .nice{
        font-size: 40px;
        font-weight: 900;
        color: #ffffff;
        text-align: center;
        

        opacity: 0;
        transform: translateY(100%);
        transition: opacity 1s, transform 1s;

        &.animate { 
            opacity: 1;
            transform: translateY(0);
        }

        @media (min-width: 768px) {
            text-align: start;
        }
        
    }
    
    .acquaintance-with-me{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
        }
        .text{
            margin: 20px;
            font-size: 18px;
            font-weight: 500;
            color: black;
            text-align: start;
            max-width: 60vw;
            
            opacity: 0;
            transform: translateY(100%);
            transition: opacity 1s, transform 1s;

            &.animate { 
                opacity: 1;
                transform: translateY(0);
            }
            
            @media (min-width: 768px) {
                font-size: 25px;
            }
            @media (min-width: 1600px) {
                max-width: 1220px;
            }
        }

        .my-foto{
            height: 248px;
            width: 248px;
            border-radius: 100%;

            opacity: 0;
            transform: translateX(100%);
            transition: opacity 1s, transform 1s;

            &.animate { 
                opacity: 1;
                transform: translateX(0);
            }

            @media (min-width: 768px) {
                height: 300px;
                width: 300px;
            }
            
        }
    }
}