.knowledge{
    padding: 40px 20px;
    @media (min-width: 1024px) {
        padding: 40px 100px;
    }
    @media (min-width: 1600px) {
        padding: 40px 240px;
    }
    .skil{
        color: white;font-size: 30px;
        font-weight: 900;
        padding: 0 0 20px 0;
        text-align: center;
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 1s, transform 1s;

        &.animate { 
            opacity: 1;
            transform: translateY(0);
        }
        
    }
    
    .skils-box{
        display: flex;
        flex-direction: column;
        .main-skills{
            display: flex;
            justify-content: space-between;
            column-gap: 10px;
            flex-direction: column;
            row-gap: 10px;
            @media (min-width: 768px) {
                flex-direction: row;
            }
            .frontend, .backend{
                background-color: #1c3848;
                flex-grow:1;
                padding: 20px 0;
                border-radius: 10px;
                p{
                    text-align: center;
                    font-size: 30px;
                    color: white;
                    padding: 20px 0;
                }
                .group{
                    display: flex;
                    justify-content: space-around;
                    padding: 5px;
                    .column{
                        display: flex;
                        flex-direction: column;
                        row-gap: 6px;
                        li{
                            font-size: 25px;
                            color: white;
                        }
                    }
                }
            }
            .backend{
                opacity: 0;
                transform: translateX(100%);
                transition: opacity 1s, transform 1s;

                &.animate { 
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            
            .frontend{
                opacity: 0;
                transform: translateX(-100%);
                transition: opacity 1s, transform 1s;

                &.animate { 
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            
        }
        .another{
            margin: 10px 0 0 0;
            padding: 20px;
            background-color: #1c3848;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            border-radius: 10px;

            opacity: 0;
            transform: translateY(100%);
            transition: opacity 1s, transform 1s;

            &.animate { 
                opacity: 1;
                transform: translateY(0);
            }
            @media (min-width: 425px) {
                flex-direction: row;
            }
            .column{
                display: flex;
                flex-direction: column;
                li{
                    color: white;
                    font-size: 25px;
                }
            }
        }
    } 
}