.nav-bottom {
    background-color: cadetblue;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    @media (min-width: 910px) {
        flex-direction: row;
        height: 200px;
    }
    .border{
        flex-grow:1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        padding: 10px;

        

        @media (min-width: 910px) {
            padding: 0;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #DAC767;
            
            @media (min-width: 910px) {
                height: 100px;
                width: 300px;
            }
            &:hover{
                flex-grow:1;
                height: 70px;
                width: 100vw;
                transition: flex-grow 1s ease, height 2s ease, width 2s;
                background-color: crimson;
                @media (min-width: 910px) {
                    transition: flex-grow 1s ease, height 2s ease;
                    width: 200px;
                    height: 200px;
                }
            }
            &:not(:hover) { /* Стиль для обратного состояния (без ховера) */
                flex-grow:0;
                height: 70px;
                width: 200px;
                transition: flex-grow 1s ease, height 2s ease, width 2s;
                @media (min-width: 910px) {
                    transition: flex-grow 1s ease, height 2s ease;
                }
            }
            p{
                font-size: 30px;
                color: white;

            }
        }
    }
}
