.App{
  position: relative;
  background-color: #575757;
  overflow: hidden;
  nav{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: #363636;
    z-index: 5;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 1s, transform 1s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    width: 100%;
    &.animate { 
        opacity: 1;
        transform: translateY(0);
    }
  }
  main{
    
    background-color: #575757;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 2;
  }
}