.reakt-deco{
    position: absolute;
    width: 1000px;
    height: 1000px;
    z-index: -5;
    animation: scaleRotate 120s infinite linear alternate;


    @keyframes scaleRotate {
        0%, 100% {
            transform: scale(1) rotate(0deg);
        }
        50% {
            transform: scale(2) rotate(180deg);
        }
    }
    .reactsvg{
        width: 100%;
        height: 100;
    }
}
