.nav-conteiner{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
    padding: 0 20px;
    
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 1s, transform 1s;
    
    &.animate { 
        opacity: 1;
        transform: translateY(0);
    }
    @media (min-width: 1600px) {
        width: 1600px;
    }
    
    ul{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        text-align: center;
        align-items: center;
        font-size: 25px;
        column-gap: 0;
        @media (min-width: 568px) {
            column-gap: 30px;
        }
        li{

            a{
                color: rgb(255, 255, 255);
                display: none;
                @media (min-width: 568px) {
                    display: block;
                }
                &:hover{
                    color: burlywood;
                }
            }
            .work-info{
                font-size: 25px;
                background: none;
                color: crimson;
                &:hover{
                    color: rgb(20, 211, 20);
                }
            }
            .main-button{
                background: none;
                display: block;
                
                @media (min-width: 568px) {
                    display: none;
                }
                &:hover{
                    background-color: rgba(67, 117, 161, 0.696);
                }
            }
            &:hover{
                border-top: 1px solid rgb(255, 255, 255);
                border-bottom: 1px solid rgb(255, 255, 255);
                
            }
        } 
    }
}