.icons {
    padding: 40px 20px;
    width: 100%;
    .images {
        display: flex;
        justify-content: space-evenly;
        
        .links-image{
            flex-grow:1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vw;
            
            @media (min-width: 1600px) {
                height: 150px;
            }
            img{
                
                &:hover{
                    width: 12vw;
                    transition:  ease, height 1s ease, width 1s;
                }
                &:not(:hover) {
                    width: 9vw;
                    transition: height 1s ease, width 1s;
                }
                @media (min-width: 1600px) {
                   
                    &:hover{
                        width: 150px;
                    }
                    &:not(:hover) {
                        width: 100px;
                        
                    }
                }
                
            }
            
        }
        
    }
    .images a:nth-child(1) {
        opacity: 0;
        transform: translateX(-170%);
        transition: opacity 2s, transform 1s;
        
        &.animate{
            opacity: 1;
            transform: translateX(0);
            
        }
        
    }
    
    .images a:nth-child(2) {
        opacity: 0;
        transform: translateX(-170%);
        transition: opacity 2s, transform 1s;
        transition-delay: 0.5s;
        &.animate{
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .images a:nth-child(3) {
        opacity: 0;
        transform: translateX(-150%);
        transition: opacity 2s, transform 1s;
        transition-delay: 1s;

        &.animate{
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .images a:nth-child(4) {
        opacity: 0;
        transform: translateX(-140%);
        transition: opacity 2s, transform 1s;
        transition-delay: 1.5s;

        &.animate{
            opacity: 1;
            transform: translateX(0);
        }
    }
    
}